.status-bar {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; /* Add margin to create space */
}

.status-bar.sending {
  background-color: #f0ad4e;
  color: white;
}

.status-bar.success {
  background-color: #5cb85c;
  color: white;
}

.status-bar.error {
  background-color: #d9534f;
  color: white;
}

.status-bar.pulling {
  background-color: #5bc0de;
  color: white;
}
