terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl

input.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
buletine-api/local.settings.json.old
tools/*.png
