.pull-result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.captured-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}
